@use '../helpers/breakpoints' as *;
@use '../helpers/variables' as *;
$res: mix(mix(#0B0D17 , $blue-300), $white);
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        margin: 24px 0 24px 40px;
        @include breakpoint-up(large) {
            margin: 64px 0 24px 64px;
        }
    }
    .links {
        position: relative;
            .bars {
                color: $blue-300;
                margin: 20px 33px 33px 0;
                font-size: 30px;
                cursor: pointer;
                z-index: 5;
                position: relative;
                @include breakpoint-up(medium) {
                display: none;
            }
        }
        ul {
            display: none;
            &.opend {
                display: block;
                position: absolute;
                top: -9px;
                right: 0;
                padding: 15px;
                width: 250px;
                height: 100vb;
                background-color: rgba(mix(mix(#0B0D17 , $blue-300), $white), 0.15);
                backdrop-filter: blur(80px);
                margin-left: 32px;
                z-index: 3;
                li:first-child {
                    margin-top: 48px;
                }
            }
            @include breakpoint-up(medium) {
                display: block;
                background-color: rgba($white, 0.05);
                backdrop-filter: blur(80px);
                margin-top: 0;
                padding-left: 119px;
            }
            @include breakpoint-up(large) {
            margin-top: 40px;
            }
            li {
                padding-top: 32px;
                @include breakpoint-up(medium) {
                display: inline-block;
                padding-top: 0;
                margin-right: 48px;
            }
            a {
                    display: block;
                    color: $white;
                    transition: 0.3s;
                    border-right: 2px solid transparent;
                    @include breakpoint-up(medium) {
                        border-right: none;
                        border-bottom: 1px solid transparent;
                        padding: 39px 0;
                        &:hover,
                        &.active {
                            border-bottom-color: $white;
                        }
                    }
                    &:hover,
                    &.active {
                        border-right-color: $white;
                    }
                    }
                    span {
                        font-weight: bold;
                }
            }
        }
    }
}