@use '../helpers/variables' as *;

.start-btn {
    display: block;
    position: relative;
    width: 272px;
    height: 272px;
    border-radius: 50%;
    background-color: #FFF;
    margin-left: auto;
    font-size: 32px;
    color: $blue-900;
    cursor: pointer;
    border: none;
    &:focus {
        outline: none;
    }
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($white, 0.1);
        width: 0;
        height: 0;
        border-radius: 50%;
        transition: 0.3s;
    }
    &:hover {
        &::before {
        width: 400px;
        height: 400px;
    }
    }
}
