@use '../helpers/variables' as *;
@use '../helpers/breakpoints' as *;


body {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vb;
    overflow: hidden;
}
.dest-container {
    padding: 24px;
    text-align: center;
        h3 {
            color: $white;
            margin: 0 0 24px;
            span {
                padding-right: 24px;
                opacity: 0.25;
            }
        }
        .content {
            .image {
                img {
                    width: 150px;
                    height: 150px;
                    margin: 26px 88px;
                }
            }
            .info {
                margin: 32px 0 0;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 32px;
                margin-bottom: 24px;
                a {
                    display: block;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $blue-300;
                    padding-bottom: 7px;
                    border-bottom: 1px solid transparent;
                    transition: 0.3s;
                    &:hover,
                    &.active {
                        color: $white;
                        border-bottom-color: $white;
                    }
                }
            }
            .text {
                h1 {
                    color: $white;
                    font-size: 56px;
                    font-weight: normal;
                    text-transform: uppercase;
                    margin-top: 24px;
                    margin-bottom: 16px;
                }
                p {
                    width: 327px;
                    color: $blue-300;
                    font-size: 17px;
                    margin: 0 auto;
                    line-height: 1.7;
                    padding-bottom: 24px;
                    border-bottom: 1px solid rgba($white, 0.25);
                }
            }
            .stats {
                text-align: center;
                p {
                    margin: 24px 0;
                    color: $white;
                    font-size: 28px;
                    span {
                        display: block;
                        margin-bottom: 12px;
                        color: $blue-300;
                        font-size: 14px;
                    }
                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
        }
    @include breakpoint-up(medium) {
        padding: 40px;
        text-align: initial;
        h3 {
            font-size: 20px;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .image {
                img {
                    width: 300px;
                    height: 300px;
                    margin: 42px 194px;
                }
            }
            .info {
                text-align: center;
                padding: 0px 87px;
            ul {
                margin-bottom: 40px;
                a {
                    font-size: 16px;
                }
            }
            .text {
                h1 {
                    font-size: 96px;
                }
                p {
                    margin: 0;
                    padding-bottom: 40px;
                    width: 514px;
                }
            }
            .stats {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    width: 50%;
                    &:last-child {
                        margin: 24px 0;
                    }
                }
            }
        }
        }
    }
    @include breakpoint-up(large) {
        padding: 48px 165px;
        h3 {
            font-size: 28px;
        }
        .content {
            flex-direction: row;
            .image {
                width: 40%;
                img {
                    width: 445px;
                    height: 445px;
                    max-width: 100%;
                    margin: 130px 30px;
                }
            }
            .info {
                text-align: initial;
                width: 60%;
            ul {
                justify-content: left;
                margin-bottom: 40px;
                a {
                    font-size: 16px;
                }
            }
            .text {
                h1 {
                    font-size: 80px;
                }
                p {
                    padding-bottom: 24px;
                    width: 445px;
                }
            }
            .stats {
                text-align: initial;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10%;
                p {
                    margin: 40px 0 0;
                    width: 45%;
                    &:last-child {
                        margin: 40px 0 0;
                    }
                }
            }
        }
        }
    }
} 
